<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(form)" #form="ngForm">
      <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input 
            type="text" 
            name="name" 
            class="form-control"
            ngModel>
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input 
            type="number" 
            name="amount" 
            class="form-control"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
          </div>
          <div class="col-sm-2 form-group">
            <label for="step"></label>
            <select
            name="step"
            class="form-control"
            ngModel >
                <option value="" ></option>
                <option value="Tsp" >Tsp</option>
                <option value="Gms" >Gms</option>
                <option value="Cups" >Cups</option>
                <option value="Nos" >Nos</option>
            </select>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 but_manage">
            <button 
              class="btn btn-success" 
              type="submit" 
              [disabled]="!form.valid">{{ editMode? 'Update':'Add'}}</button>
            <button 
              *ngIf="editMode"
              class="btn btn-danger" 
              type="button"
              (click)="onDelete()">Delete</button>
            <button 
              class="btn btn-primary" 
              type="button"
              (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>