<div class="row">
  <div class="col-xs-12">
    <img
      [src]="(recipes$ | async).recipes[recipeSelectedId].imagePath" 
      class="img-responsive recipe_detail_img"
      (click)='open($event)' />
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h3>{{(recipes$ | async).recipes[recipeSelectedId].name}}</h3>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div 
    class="btn-group"
    appDropdown>
      <button 
        type="" 
        class="btn btn-manage dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li><a (click)="onAddToShoppingList()">To shopping list</a></li>
          <li><a (click)="onRecipeEdit()" *ngIf="(authState$ | async).authenticated">Edit recipe</a></li>
          <li><a (click)="onDeleteEdit()">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
      class="list-group-item"
      *ngFor="let ingredient of (recipes$ | async).recipes[recipeSelectedId].ingredients">
        {{ingredient.name}} ({{ingredient.amount}} {{ingredient.step}})
    </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 recipe_description">
    <h4>Directions</h4>
    <div [innerHtml]="(recipes$ | async).recipes[recipeSelectedId].description"></div>
  </div>
</div>